<div class="container-fluid container-full-height py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-12 vh-100">
                <h1 class="display-2 fw-bold mb-1 position-relative home-title home">
                    Dashboard
                </h1>
                <p class="fs-4 mb-4">
                    Dashboard
                </p>
                <% if (allNotes.length > 0) {%>
                    <% for (let n = 0; n < allNotes.length; n++) { %>
                        <div class="col-sm-3 mb-4">
                            <div class="card border-primary text-blue bg-dark" style="min-height: 210px">
                                <a href="/dashboard/item:<%= allNotes[n]._id %>" class="card-body text-decoration-none">
                                    <h5 class="card-title">
                                        <%= allNotes[n].title %>
                                    </h5>
                                    <div class="card-body">
                                        <%= allNotes[n].body %>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <h3> there is no notes </h3>
                <% } %>

                <a href="/auth/google" class="btn- btn-primary btn-lg"> Try Notes, it is free!</a>
            </div>
        </div>
        <% if(allNotes.length > 0) { %>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mt-5">
                <% if(currentPage == 1) { %>
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/dashboard">First</a></li>
                <% }  %>
                <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                <% if (i !== 1 ) { %>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                <% } %>
                <% for (; i <= (Number(currentPage) + 4) && i <= pages; i++) { %>
                    <% if(i == currentPage ) { %>
                    <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/dashboard/?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if(i == Number(currentPage) + 4 && i < pages) { %>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <% } %>
                <% } %>
                <% if (currentPage == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a href="/dashboard/?page=<%= pages %>" class="page-link">Last</a></li>
                <% } %>
                </ul>
            </nav>
        
            <% } %>
        <form id="textInputForm" method="post" action="/dashboard/save">
            <label for="title">Enter Title:</label><br>
            <input type="text" id="title" name="title" rows="1" cols="50"><br>
            <label for="textInput">Enter Text:</label><br>
            <input type="text" id="textInput" name="textInput" rows="4" cols="50"><br>
            <button type="submit" id="saveButton">Save</button>
        </form>
    </main>
</div>